<div class="quick-start-nav">
  <header class="navbar navbar-expand">
    <div class="container-default">
      <div class="d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/navbar-logo.svg" alt="logo">
        </a>
        <div class="profile-dropdown">
          <div class="dropdown">
            <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../../assets/img/profile.svg" alt="img">
              Torin
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <div class="d-flex align-items-center p-3">
                <img src="../../../assets/img/user-profile.png" alt="img">
                <div class="user-detail">
                  <p>Torin DiSalvo</p>
                  <span>torindisalvo@gmail.com</span>
                </div>
              </div>
              <hr />
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/settings.svg" alt="img">
                  Settings
                </a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/blog.svg" alt="img">
                  Blog</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/slack.svg" alt="img">
                  Discord Community</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/help.svg" alt="img">
                  Help</a></li>
              <hr />
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/log-out.svg" alt="img">
                  Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<body>
  <div class="">
    <div class="quick-start-main">
      <div class="container-default">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="quick-start-box">
              <img src="../../../assets/img/quick-start.png" alt="img">
              <h3>Quick Start</h3>
              <p>We will take you through a couple of questions to quickly set up your financial budget, the key to
                better
                financial planning. Don’t worry, you can edit all of this at a later time as well. </p>
              <hr />
              <p><span>Privacy Notice</span>
                At Compound, we believe your data is sacred. Your financial information is encrypted, and we promise to
                never sell or release your data. </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="quick-start-detail">
              <div *ngIf="steps===1">
                <form action="">
                  <div class="quick-start-question">
                    <label for="">What is your annual paycheck income?</label>                 
                    <input type="number" placeholder="$ Annual Salary">
                  </div>
                  <div class="quick-start-question">
                    <label for="">How often do you receive your paycheck?</label>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Paycheck Frequency</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="quick-start-question">
                    <label for="">What days do you normally receive your paycheck?</label>
                    <input type="date" placeholder="Annual Salary" class="start-date">
                    <input type="date" placeholder="Annual Salary" class="start-date">
                  </div>
                </form>
              </div>
              <div *ngIf="steps===2">
                <form action="">
                  <div class="quick-start-question">
                    <label for="">Do you receive any annual bonuses?</label>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Bonus Options</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="quick-start-question">
                    <label for="">What is the approximate timing and amount of your bonuses?</label>
                    <p>Financial planning is always a challenge when variable bonuses are involved. Give your best
                      guess, and you can always update it later. We recommend being conservative, which will lead to
                      extra unexpected savings.</p>
                    <input type="date" placeholder="Annual Salary" class="start-date">
                    <input type="date" placeholder="Annual Salary" class="start-date">

                  </div>
                </form>
              </div>
              <div *ngIf="steps===3">
                <form action="">
                  <div class="quick-start-question">
                    <label for="">What are your other sources of income?</label>
                    <div class="d-flex align-items-center gap-5">
                      <input type="number" placeholder="$ Income Type">
                      <input type="number" placeholder="$ Income Amount">
                    </div>
                    <div class="text-center mt-4 add-income">
                      <img src="../../../assets/img/plus-icome.svg" alt="img">
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="steps===4">
                <form action="">
                  <div class="quick-start-question">
                    <label for="">What accounts do you use regularly use for day to day transactions?</label>
                    <p>These are accounts that hold a balance and you will track to understand how much of your monthly
                      budget you have consumed. They include checking accounts, credit card accounts, venmo, paypal,
                      etc. Don’t worry if you an unsure whether to include a certain account, you can always edit this
                      later!</p>
                    <div class="d-flex account-type">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Account Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <input type="number" placeholder="Account Name">
                    </div>
                    <div class="text-center mt-4 add-income">
                      <img src="../../../assets/img/plus-icome.svg" alt="img">
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="steps===5">
                <form action="">
                  <div class="quick-start-question">
                    <label for="">What accounts do you use to hold your savings?</label>
                    <p>These are accounts that contain money that you don’t use for day to day transactions. They generally include savings accounts, investment accounts, piggy banks, etc. We generally do not recommend including retirement accounts in this section. Don’t worry, you can update this later! </p>
                    <div class="d-flex account-type">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Account Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <input type="number" placeholder="Account Name">
                    </div>
                    <div class="text-center mt-4 add-income">
                      <img src="../../../assets/img/plus-icome.svg" alt="img">
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="steps===6">
                <form action="">
                  <div class="quick-start-question">
                    <label for="">What pre-tax deductions do you normally take?</label>
                    <p>These are accounts that contain money that you don’t use for day to day transactions. They generally include savings accounts, investment accounts, piggy banks, etc. We generally do not recommend including retirement accounts in this section. Don’t worry, you can update this later! </p>
                    <div class="d-flex account-type">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Deduction</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <input type="number" placeholder="$ Amount per paycheck">
                    </div>
                    <div class="text-center mt-4 add-income">
                      <img src="../../../assets/img/plus-icome.svg" alt="img">
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="steps===7">
                <form action="">
                  <div class="quick-start-question">
                    <label for="">How do you normally file your taxes?</label>
                    <div class="form-check d-flex align-items-end">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Standard Deduction
                      </label>
                    </div>

                    <div class="form-check d-flex align-items-end">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                        Itemized Deduction
                      </label>
                      <div class="account-type">                      
                        <input type="number" placeholder="$ Deduction Amount">
                      </div>
                    </div>
                   
                    <div class="text-center mt-4 add-income">
                      <img src="../../../assets/img/plus-icome.svg" alt="img">
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="steps===8">8</div>
              <div *ngIf="steps===9">9</div>
              <div class="text-end">
               <button (click)="back()" *ngIf="steps>=3" class="back-btn">
                 <img src="../../../assets/img/back-arrow.svg" alt="img"/>
                back
              </button>
                <button id="nextButton" class="next-btn" (click)="next()">{{showFinish ? 'Finish' :
                  'Next'}}
                  <img src="../../../assets/img/start-right-arrow.svg" alt="img">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>

</body>