<div *ngIf="steps" class="quick-start-nav">
  <header class="navbar navbar-expand">
    <div class="container-default">
      <div class="d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="#step1">
          <img src="../../../assets/img/navbar-logo.svg" alt="logo" height="32px">
        </a>
        <div class="profile-dropdown">
          <div class="dropdown">
            <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../../assets/img/profile.svg" alt="img">
              Torin
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <div class="d-flex align-items-center p-3">
                <img src="../../../assets/img/user-profile.png" alt="img">
                <div class="user-detail">
                  <p>Torin DiSalvo</p>
                  <span>torindisalvo@gmail.com</span>
                </div>
              </div>
              <hr />
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/settings.svg" alt="img">
                  Settings
                </a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/blog.svg" alt="img">
                  Blog</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/slack.svg" alt="img">
                  Discord Community</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/help.svg" alt="img">
                  Help</a></li>
              <hr />
              <li><a class="dropdown-item" href="javascript:void(0);">
                  <img src="../../../assets/img/log-out.svg" alt="img">
                  Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<body  *ngIf="steps">
  <div class="">
    <div class="quick-start-main">
      <div class="container-default">
        <div class="row justify-content-center">
          <div class="col-lg-4 pe-lg-0 ps-inherit">
            <div class="quick-start-box">
              <img src="../../../assets/img/quick-start.png" alt="img">
              <h3>Quick Start</h3>
              <p>We will take you through a couple of questions to quickly set up your financial budget, the key to
                better
                financial planning. Don’t worry, you can edit all of this at a later time as well. </p>
              <hr />
              <p><span>Privacy Notice</span>
                At Compound, we believe your data is sacred. Your financial information is encrypted, and we promise to
                never sell or release your data. </p>
            </div>
          </div>
          <div class="col-lg-6 ps-lg-0 ps-inherit">
            <div class="progress">
              <div class="progress-bar" [ngStyle]="{ width: progress + '%' }"></div>
            </div>
            <div class="quick-start-detail">
              <div class="stepper-counter">
                <p>{{steps}}/{{maxsteps}}</p>
              </div>
              <!-- step -1 -->
              <div *ngIf="steps==1" id="step1">
                <form [formGroup]="paycheckForm" action="">
                  <div class="quick-start-question">
                    <label for="">What is your annual paycheck income?</label>
                    <div class="position-relative">
                      <span class="position-absolute" [class.filled]="inputFilled">$</span>
                      <!-- <span class="position-absolute">$</span> -->
                      <input formControlName="annualIncome" (input)="inputFilled = true" type="text"
                        placeholder="Annual Salary" appNumberFormatterDirective>

                      <div *ngIf="paycheckForm.get('annualIncome').errors?.['pattern']"
                        class="error-message text-start">Please enter a valid amount</div>
                    </div>
                  </div>
                  <div class="quick-start-question">
                    <label for="">How often do you receive your paycheck?</label>
                    <select formControlName="paycheckFrequency" class="form-select" aria-label="Default select example"
                      [ngClass]="{ 'selected-option': isPaycheckFrequencySelected }"
                      (change)="onPaycheckFrequencyChange()">
                      <option [ngClass]="{ 'grey-text': isPaycheckFrequencySelected }" value="0" selected>Paycheck
                        Frequency</option>
                      <option [ngClass]="{ 'grey-text': isPaycheckFrequencySelected }" value="1">One</option>
                      <option [ngClass]="{ 'grey-text': isPaycheckFrequencySelected }" value="2">Two</option>
                      <option [ngClass]="{ 'grey-text': isPaycheckFrequencySelected }" value="3">Three</option>
                    </select>
                  </div>
                  <div class="quick-start-question">
                    <label for="">What days do you normally receive your paycheck?</label>

                    <input type="text" formControlName="firstPaycheckDate" [bsConfig]="datePickerConfig"
                      placeholder="1st Paycheck Date" class="start-date" bsDatepicker>
                    <input type="text" formControlName="secondPaycheckDate" [bsConfig]="datePickerConfig"
                      placeholder="2nd Paycheck Date" class="start-date" bsDatepicker>
                    <!-- <input #datepicker1 type="text" placeholder="1st Paycheck Date" class="start-date">
                    <input #datepicker2 type="text" placeholder="2st Paycheck Date" class="start-date"> -->
                  </div>
                </form>
              </div>
              <div *ngIf="steps==2" id="step2">
                <form [formGroup]="bonusForm" action="">
                  <div class="quick-start-question">
                    <label for="">Do you receive any annual bonuses?</label>
                    <select formControlName="bonusOption" class="form-select" aria-label="Default select example"
                      [ngClass]="{ 'selected-option': isBonusOptionSelected }" (change)="onBonusOptionChange()">
                      <option [ngClass]="{ 'grey-text': isBonusOptionSelected }" value="0" selected>Bonus Options
                      </option>
                      <option [ngClass]="{ 'grey-text': isBonusOptionSelected }" value="1">One</option>
                      <option [ngClass]="{ 'grey-text': isBonusOptionSelected }" value="2">Two</option>
                      <option [ngClass]="{ 'grey-text': isBonusOptionSelected }" value="3">Three</option>
                    </select>
                  </div>
                  <div class="quick-start-question">
                    <label for="">What is the approximate timing and amount of your bonuses?</label>
                    <p>Financial planning is always a challenge when variable bonuses are involved. Give your best
                      guess, and you can always update it later. We recommend being conservative, which will lead to
                      extra unexpected savings.</p>
                    <!-- <input type="date" placeholder="Annual Salary" class="start-date"> -->
                    <!-- <input type="text" #datepicker3 placeholder="Bonus Date" class="start-date"> -->
                    <input type="text" formControlName="bonusDate" [bsConfig]="datePickerConfig"
                      placeholder="Bonus Date" class="start-date" bsDatepicker>
                    <input formControlName="bonusAmount" type="text" placeholder="Bonus Amount" class="start-date"
                      appNumberFormatterDirective>
                    <div *ngIf="bonusForm.get('bonusAmount').errors?.['pattern']" class="error-message">Please enter a
                      valid amount</div>

                  </div>
                </form>
              </div>
              <div *ngIf="steps==3" id="step3">
                <div>


                  <form [formGroup]="srcIncomeForm">

                    <div class="quick-start-question source-income">
                      <label for="">What are your other sources of income?</label>
                      <div class="">
                        <div formArrayName="incomesrc">
                          <div *ngFor="let item of incomesrc.controls; index as idx;let last = last;"
                            [formGroupName]="idx" class="income-sources">
                            <div class="account-type d-flex align-items-center flex-wrap flex-sm-nowrap">
                              <div class="income-type-detail">
                                <input type="text" placeholder="Income Type" formControlName="type" class="income-type">
                              </div>
                              <div class="position-relative income-type-detail">
                                <span class="position-absolute" [class.filled]="inputFilledIncome[idx]">$</span>
                                <input type="text" (input)="inputFilledIncome[idx] = true" formControlName="Amount"
                                  placeholder="Income Amount" appNumberFormatterDirective>

                              </div>
                              <div [ngClass]="{'delete-hide':incomesrc.controls.length==1}" class="delete-icon-box">
                                <img src="../../../assets/img/delete-icon.svg" (click)="removeIncomesrcItem(idx)"
                                  alt="img">
                              </div>
                            </div>
                            <div *ngIf="srcIncomeForm.get('incomesrc.' + idx + '.Amount').errors['pattern']"
                              class="error-message income-error">
                              Please enter a valid Amount.
                            </div>
                            <!-- <div *ngIf="srcIncomeForm.get('incomesrc.' + idx + '.Amount').errors['required']">
                              Please enter an amount.
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="text-center mt-4">
                        <div class="add-income">
                          <img (click)="addIncomesrcItem()" src="../../../assets/img/plus-icome.svg" alt="img">
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
              <div *ngIf="steps==4" id="step4">
                <form action="" [formGroup]="accountForm">

                  <div class="quick-start-question">
                    <label for="">What accounts do you use regularly for day to day transactions?</label>
                    <p>These are accounts that hold a balance and you will track to understand how much of your monthly
                      budget you have consumed. They include checking accounts, credit card accounts, Venmo, PayPal,
                      etc. Don’t worry if you are unsure whether to include a certain account, you can always edit this
                      later!</p>
                    <div formArrayName="accounts" class="account-type-container">
                      <div *ngFor="let account of accounts.controls; index as idx;" [formGroupName]="idx" class="income-sources">
                        <div class="d-flex account-type align-items-center flex-wrap flex-lg-nowrap">
                          <select [ngClass]="{ 'selected-option': isAccountSelected }" (change)="onAccountChange()"
                            formControlName="accountType" class="form-select" aria-label="Default select example">
                            <option [ngClass]="{ 'grey-text': isAccountSelected }" selected>Account Type</option>
                            <option [ngClass]="{ 'grey-text': isAccountSelected }" value="1">One</option>
                            <option [ngClass]="{ 'grey-text': isAccountSelected }" value="2">Two</option>
                            <option [ngClass]="{ 'grey-text': isAccountSelected }" value="3">Three</option>
                          </select>
                          <input formControlName="accountName" type="text" placeholder="Account Name"
                            class="income-type ">
                          <div [ngClass]="{'delete-hide':accounts.controls.length==1}" class="delete-icon-box">
                            <img src="../../../assets/img/delete-icon.svg" (click)="removeAccount(idx)" alt="img">
                          </div>
                        </div>
                        <div
                          *ngIf="accountForm.get('accounts.' + idx + '.accountName').invalid && accountForm.get('accounts.' + idx + '.accountName').errors['pattern']"
                          class="error-message">
                          Please enter a valid account name.
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-4">
                      <div class="add-account">
                        <img (click)="addAccount()" src="../../../assets/img/plus-icome.svg" alt="img">
                      </div>
                    </div>
                  </div>

                </form>
              </div>
              <div *ngIf="steps==5" id="step5">
                <form [formGroup]="savingsAccntForm" action="">

                  <div class="quick-start-question">
                    <label for="">What accounts do you use to hold your savings?</label>
                    <p>These are accounts that contain money that you don’t use for day-to-day transactions.
                      They generally include savings accounts, investment accounts, piggy banks, etc.
                      We generally do not recommend including retirement accounts in this section. Don’t worry,
                      you can update this later!</p>
                    <div formArrayName="savingsAccounts" class="account-type-container">
                      <div *ngFor="let savingsAccount of savingsAccounts.controls; index as idx;" [formGroupName]="idx">
                        <div class="d-flex account-type align-items-center flex-wrap flex-lg-nowrap">
                          <select [ngClass]="{ 'selected-option': issavAccountSelected }"
                            (change)="onsavAccountChange()" formControlName="accountType" class="form-select"
                            aria-label="Default select example">
                            <option [ngClass]="{ 'grey-text': issavAccountSelected }" selected>Account Type</option>
                            <option [ngClass]="{ 'grey-text': issavAccountSelected }" value="1">One</option>
                            <option [ngClass]="{ 'grey-text': issavAccountSelected }" value="2">Two</option>
                            <option [ngClass]="{ 'grey-text': issavAccountSelected }" value="3">Three</option>
                          </select>
                          <input formControlName="accountName" type="text" placeholder="Account Name"
                            class="income-type">

                          <div [ngClass]="{'delete-hide':savingsAccounts.controls.length==1}" class="delete-icon-box">
                            <img src="../../../assets/img/delete-icon.svg" (click)="removeSavingsAccount(idx)"
                              alt="img">
                          </div>
                        </div>
                        <div
                          *ngIf="savingsAccntForm.get('savingsAccounts.' + idx + '.accountName').invalid && savingsAccntForm.get('savingsAccounts.' + idx + '.accountName').errors['pattern']"
                          class="error-message">
                          Please enter a valid account name.
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-4">
                      <div class="add-account">
                        <img (click)="addSavingsAccount()" src="../../../assets/img/plus-icome.svg" alt="img">
                      </div>
                    </div>
                  </div>

                </form>
              </div>
              <div *ngIf="steps==6" id="step6">
                <form [formGroup]="pretaxForm" action="">

                  <div class="quick-start-question">
                    <label for="">What pre-tax deductions do you normally take?</label>
                    <div formArrayName="preTaxDeductions" class="deduction-container">
                      <div *ngFor="let deduction of preTaxDeductions.controls; index as idx;" [formGroupName]="idx">
                        <div class="d-flex account-type align-items-center flex-wrap flex-sm-nowrap">
                          <select [ngClass]="{ 'selected-option': issdeductionSelected }" (change)="ondeductionChange()"
                            formControlName="deduction" class="form-select" aria-label="Default select example">
                            <option [ngClass]="{ 'grey-text': issdeductionSelected }" selected>Deduction</option>
                            <option [ngClass]="{ 'grey-text': issdeductionSelected }" value="1">One</option>
                            <option [ngClass]="{ 'grey-text': issdeductionSelected }" value="2">Two</option>
                            <option [ngClass]="{ 'grey-text': issdeductionSelected }" value="3">Three</option>
                          </select>
                          <div class="position-relative">
                            <span _ngcontent-smn-c31="" [class.filled]="inputFilledAmtPerPay[idx]"
                              class="position-absolute">$</span>
                            <input (input)="inputFilledAmtPerPay[idx] = true" formControlName="amount" type="text"
                              placeholder="Amount per paycheck" class="" appNumberFormatterDirective>
                          </div>
                          <div [ngClass]="{'delete-hide':preTaxDeductions.controls.length==1}" class="delete-icon-box">
                            <img src="../../../assets/img/delete-icon.svg" (click)="removePreTaxDeduction(idx)"
                              alt="img">
                          </div>
                        </div>
                        <div *ngIf="pretaxForm.get('preTaxDeductions.' + idx + '.amount').errors['pattern']"
                          class="tax-deductions-error">
                          Please enter a valid Amount.
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-4">
                      <div class="add-deduction">
                        <img (click)="addPreTaxDeduction()" src="../../../assets/img/plus-icome.svg" alt="img">
                      </div>
                    </div>

                  </div>

                </form>
              </div>
              <div *ngIf="steps==7" id="step7">
                <form [formGroup]="taxDeductionForm" action="">
                  <div class="quick-start-question">
                    <label for="">How do you normally file your taxes?</label>
                    <div class="form-check d-flex align-items-end">
                      <input formControlName="taxDeductionType" class="form-check-input" type="radio"
                      name="taxDeductionType" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Standard Deduction
                      </label>
                    </div>
                    <div class="form-check account-type d-flex align-items-center flex-wrap">
                      <input formControlName="taxDeductionType" class="form-check-input" type="radio"
                      name="taxDeductionType" id="flexRadioDefault2" checked>
                      <label class="form-check-label me-5" for="flexRadioDefault2">
                        Itemized Deduction
                      </label>
                      <div class="account-type position-relative mt-2 mt-md-0">
                        <span class="position-absolute" [class.filled]="inputfilleddeduction">$</span>
                        <input formControlName="deductionAmount" type="text" [class.filled]="inputfilleddeduction"
                          (input)="inputfilleddeduction = true" placeholder="Deduction Amount"
                          appNumberFormatterDirective>
                        <div *ngIf="taxDeductionForm.get('deductionAmount').errors['pattern']" class="error-message">
                          Please enter a valid Amount.
                        </div>
                      </div>
                    </div>
                    <div class="income-table-main">
                      <div class="d-flex justify-content-between income-table">
                        <p>Expected Taxable Income:</p>
                        <p>$XX,XXX.XX</p>
                      </div>
                      <div class="d-flex justify-content-between income-table">
                        <p>Expected Taxes Owed:</p>
                        <p>$XX,XXX.XX</p>
                      </div>
                      <div class="d-flex justify-content-between income-table">
                        <p>Expected Tax Rate</p>
                        <p>$XX,XX%</p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="steps==8" id="step8">
                <form [formGroup]="budgetForm" action="">
                  <div class="quick-start-question budget-expenses">
                    <label for="">What other expenses do you budget for?</label>
                    <div formArrayName="expenses" class="expenses-container">
                      <div *ngFor="let expense of expenses.controls; index as idx;" [formGroupName]="idx">
                        <div
                          class="rent-price d-flex align-items-center justify-content-lg-between justify-content-around mb-sm-4">
                          <div class="rent-budget">
                            <input formControlName="expense" type="text" placeholder="Expense" class="income-type">
                          </div>
                          <div class="rent-budget position-relative">
                            <span [class.filled]="inputFilledAmount[idx]">$</span>
                            <input (input)="inputFilledAmount[idx] = true" formControlName="amount" type="text" name=""
                              id="" placeholder="Amount" appNumberFormatterDirective>

                          </div>
                          <div class=" approx-day d-flex align-items-end gap-2 position-relative">
                            <!-- <input formControlName="paymentDate" #datepicker5 type="text" placeholder="Approx day of month paid" class="start-date"> -->
                            <input type="number" formControlName="paymentDate" class="start-date"
                              placeholder="Approx day of Month Paid" (input)="onInputEvent($event)" pattern="^([1-9]|[1-2]|3[0-1])$">
                           
                            <img src="../../../assets/img/info-circle-second.svg" alt="img" class="position-absolute ">
                          </div>
                          <div [ngClass]="{'delete-hide':expenses.controls.length==1}" class="delete-icon-box">
                            <img src="../../../assets/img/delete-icon.svg" (click)="removeExpense(idx)" alt="img">
                          </div>
                        </div>
                        <div *ngIf="budgetForm.get('expenses.' + idx + '.amount').errors['pattern']"
                          class="error-message">
                          Please enter a valid Amount.
                        </div>
                      </div>


                    </div>
                    <div class="text-center mt-4" id="Plus-icon">
                      <div class="add-income">
                        <img src="../../../assets/img/plus-icome.svg" alt="img" (click)="addExpense()">
                      </div>
                    </div>
                  </div>


                </form>

              </div>
              <div *ngIf="steps==9" id="step9">
                <form action="">
                  <div [ngClass]="{'save-stepper':showFinish}" class="quick-start-question">
                    <label for="">How much would you like to save?</label>
                    <p>Now that you have input your constraints, you need to decide how much you want to save vs. spend.
                      The consensus view is that you should aim to save 30% or more of your income to set yourself up
                      for future success. Our experience also says that you will need a daily spending amount of $60-80
                      in the NYC area. If that doesn’t work with your budget, it’s ok! Make sure you’re saving
                      something, even if just 1%, and work to improve that number as you make progress on your financial
                      journey. For more on this, check out our <a href="">blog post</a>. Remember, you can change this
                      at any time!</p>
                  </div>
                  <div class="d-flex align-items-start gap-lg-4 mt-5 flex-wrap flex-lg-nowrap ">
                    <div class="daily-saving">
                      <h5>Savings</h5>
                      <div class="daily-saving-detail d-flex align-items-center justify-content-between mb-1">
                        <p>Daily:</p>
                        <p>$XX.XX</p>
                      </div>
                      <div class="daily-saving-detail d-flex align-items-center justify-content-between">
                        <p>Monthly:</p>
                        <p>$X,XXX.XX</p>
                      </div>
                    </div>
                    <ngx-slider [(value)]="rangeSliderValue" [options]="rangeSliderOptions"
                      customDisplayWith="formatValue"></ngx-slider>
                    <div class="daily-saving mt-lg-0 mt-5 pt-lg-0 pt-4">
                      <h5>Spending</h5>
                      <div class="daily-saving-detail d-flex align-items-center justify-content-between mb-1">
                        <p>Daily:</p>
                        <p>$XX.XX</p>
                      </div>
                      <div class="daily-saving-detail d-flex align-items-center justify-content-between">
                        <p>Monthly:</p>
                        <p>$X,XXX.XX</p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="text-end back-next-btn">
                <button (click)="back()" *ngIf="steps!=1" class="back-btn">
                  <img src="../../../assets/img/back-arrow.svg" alt="img" />
                  Back
                </button>
                <button id="nextButton" *ngIf="!showFinish" class="next-btn" (click)="next()">
                  Next
                  <img src="../../../assets/img/start-right-arrow.svg" alt="img">
                </button>
                <button id="nextButton" class="next-btn" *ngIf="showFinish" (click)="finish()">
                  Finish
                  <img src="../../../assets/img/start-right-arrow.svg" alt="img">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</body>