.accounts-detail {
    margin: 26px 0px;

}

.accounts-detail h2 {
    color: #191D23;
    font-size: 30px;
    font-weight: 700;
}

.accounts-detail p {
    color: #64748B;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}

.add-btn {
    background-color: #2A7DA7;
    border-radius: 4px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    font-weight: 600;
}

.add-btn img {
    margin-right: 10px;
}


table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

tbody {
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 550px;
    overflow-x: hidden;
}

tbody::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}

tbody::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 50px;
    height: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background: #B8C0CC;
    border-radius: 50px;
    height: 8px;
}
.table-responsive::-webkit-scrollbar{
    width: 3px;
    height: 8px;
}

.account-table table thead {
    background-color: #EEEEEE;
    position: sticky;
    top: 0px;
}

.account-table table thead tr {
    position: relative;
    display: flex;
}

.account-table table thead tr th {
    color: #64748B;
    font-size: 14px;
    padding: 19px 8px;
    border-bottom: 0px;
    font-weight: 600;
}

.account-table table tbody tr {
    display: flex;
    width: 100%;
}


.account-table table tbody tr td:nth-child(1) {
    line-height: 40px;
}

.account-table table tbody tr td:nth-child(3) {
    line-height: 40px;
}

.account-table table tbody tr td:nth-child(4) {
    line-height: 40px;
}




.account-table table tbody tr td {
    color: #191D23;
    font-weight: 400;
    width: 20%;
}

.account-table table tbody tr td .form-select {
    border: none;
    color: #191D23;
    font-weight: 400;
    width: unset;
    background-image: url(../../../../assets/img/down-arrow.svg);
    padding-left: 0px;
}

.form-select:focus {
    box-shadow: none;
}

.delete-btn {
    background-color: #E7EAEE;
    border: none;
    color: #64748B;
    padding: 8px 32px;
    border-radius: 4px;
}

.save-btn {
    background-color: #2A7DA7;
    color: #FFFFFF;
}

.account-section {
    margin-bottom: 150px;
}

.account-table table thead tr th {
    width: 20%;
}

@media (max-width:1500px) {}

@media (max-width:991px) {
    .account-table table {
        min-width: 900px;
    }

    .account-table table thead tr {
        display: table;
        width: 100%;
    }

    .account-table table tbody tr {
        display: flex;
        width: 100%;
    }

}

@media (max-width:575px) {
    .accounts-detail h2 {
        font-size: 25px;
    }

    .accounts-detail p {
        margin-bottom: 10px;
    }
    .account-table table thead tr th {
        width: 18%;
    }
    .account-table table thead tr th:last-child {
        width: 30%;
    }
    .account-table table tbody tr td:last-child {
        width: 30%;
    }
}