<div class="navbar-main">
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-default">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/navbar-logo.svg" alt="logo">
        </a>
        <div class="collapse navbar-collapse justify-content-between" id="">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/budget" routerLinkActive="active">Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/balance-sheet" routerLinkActive="active">Balance Sheet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/performance" routerLinkActive="active">Performance</a>
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
              <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" fill="#fff" />
            </svg>
          </button>
          <div class="profile-dropdown">
            <div class="dropdown">
              <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="../../../assets/img/profile.svg" alt="img">
                Torin
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <div class="d-flex align-items-center p-3">
                  <img src="../../../assets/img/user-profile.png" alt="img">
                  <div class="user-detail">
                    <p>Torin DiSalvo</p>
                    <span>torindisalvo@gmail.com</span>
                  </div>
                </div>
                <hr />
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="navigateToUserProfile()" >
                  <img src="../../../assets/img/settings.svg" alt="img">
                    Settings
                  </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">
                    <img src="../../../assets/img/blog.svg" alt="img">
                    Blog</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">
                    <img src="../../../assets/img/slack.svg" alt="img">
                    Discord Community</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">
                    <img src="../../../assets/img/help.svg" alt="img">
                    Help</a></li>
                <hr />
                <li><a class="dropdown-item" href="javascript:void(0);">
                    <img src="../../../assets/img/log-out.svg" alt="img">
                    Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">          
              <img src="../../../assets/img/navbar-logo.svg" alt="img">
            
            <button type="button" class="close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
              <img src="../../../assets/img/nav-close-icon.svg" alt="img">
            </button>
          </div>
          <div class="offcanvas-body pt-0">
            <div class="dropdown mt-3">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/budget" routerLinkActive="active">Budget</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/balance-sheet" routerLinkActive="active">Balance Sheet</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/performance" routerLinkActive="active">Performance</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>