
.navbar-collapse{
    border-bottom: 2px solid #B1B1B1;
}
.navbar-light .navbar-nav .nav-link{
    color: #636363;
    font-weight: 600;
    font-size: 14px;
}
.nav-active{
    background-color: #E8EDF5;
    border: 1px solid #9BAED6;
    border-radius: 15px;
}
.navbar-nav{
    padding: 13px 0;
}
.nav-item{
    margin-right: 20px;
}