<!-- Offer alert Section -->
<div class="container-xxl">
    <div
        class="offer-alert d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-sm-between justify-content-center">
        <div class="offer-alert-title d-flex align-items-center mb-3 mb-sm-0">
            <img src="../../../assets/img/info-circle.svg" alt="img">
            <p>Have you received your second January paycheck yet?</p>
        </div>
        <div class="d-flex align-items-center gap-3">
            <button class="offer-alert-btn">Yes</button>
            <button class="offer-alert-btn">No</button>
            <span class="close-icon-box">
                <img src="../../../assets/img/close-icon.svg" alt="img">
            </span>
        </div>
    </div>
</div>

<!-- Balance Section -->

<div class="container-xxl">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="user-detail">
                <h1>Good Evening, Torin!</h1>
                <span>Days of Free Cash </span>
                <img src="../../../assets/img/info-circle-second.svg" alt="img">
                <div class="user-fees d-flex align-items-center">
                    <h2>2.04</h2>
                    <span>(+0.56)</span>
                </div>
                <div class="total-fees d-flex align-items-center justify-content-between mb-1">
                    <div class="d-flex gap-2">
                        <p>Total Free Cash </p>
                        <img src="../../../assets/img/info-circle-second.svg" alt="img">
                    </div>
                    <div class="d-flex gap-4">
                        <p>$1,234.42</p>
                        <span>(+$14.08)</span>
                    </div>
                </div>
                <div class="total-fees d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2">
                        <p>Net Worth</p>
                        <img src="../../../assets/img/info-circle-second.svg" alt="img">
                    </div>
                    <div class="d-flex gap-4">
                        <p>$12,686.12</p>
                        <span>(+$14.08)</span>
                    </div>
                </div>
                <p class="last-update"><span>Last Updated:</span> 1/18/23 (2 days ago)</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="account-balance d-sm-flex d-block align-items-center justify-content-between">
                <div class="d-flex gap-3">
                    <h2>Account Balances</h2>
                    <img src="../../../assets/img/info-circle-second.svg" alt="img">
                </div>
                <button class="offer-alert-btn">Update</button>
            </div>
            <div class="account-balance-box">
                <div class="table-responsive">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Balance</th>
                                <th>Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="card-payment">
                                <td>
                                    <div class="balance-check">
                                        <label>Checking</label>
                                        <span>$</span>
                                        <input type="number">
                                    </div>
                                </td>
                                <td></td>
                                <td>$6,234.15</td>
                                <td>(+$12.16)</td>
                            </tr>
                            <tr class="card-payment venmo-card">
                                <td>
                                    <div class="balance-check">
                                        <label>Venmo</label>
                                        <span>$</span>
                                        <input type="number">
                                    </div>
                                </td>
                                <td></td>
                                <td>$137.15</td>
                                <td>(+$12.16)</td>
                            </tr>
                            <tr class="amazon-card">
                                <td>
                                    <div class="balance-check">
                                        <label>Chase Card</label>
                                        <span>$</span>
                                        <input type="number" placeholder="Pending Amt">
                                    </div>
                                </td>
                                <td>
                                    <div class="balance-check">
                                        <span>$</span>
                                        <input type="number" placeholder="Posted Amt">
                                    </div>
                                </td>
                                <td>($2,321.21)</td>
                                <td>(-$242.15)</td>
                            </tr>
                            <tr class="amazon-card">
                                <td>
                                    <div class="balance-check">
                                        <label>Amazon Card</label>
                                        <span>$</span>
                                        <input type="number" placeholder="Pending Amt">
                                    </div>
                                </td>
                                <td>
                                    <div class="balance-check">
                                        <span>$</span>
                                        <input type="number" placeholder="Posted Amt">
                                    </div>
                                </td>
                                <td>($2,321.21)</td>
                                <td>(-$53.15)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Savings Section -->

<div class="container-xxl">
    <div class="row">
        <div class="col-lg-6">
            <div class="liabilitie-detail">
                <div class="d-flex">

                </div>
                <h2>Assets/Liabilities</h2>
                <span type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <img src="../../../assets/img/add-icon.svg" alt="img">
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>