<!-- Offer alert Section -->
<div class="container-default">
    <div
        class="offer-alert d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-sm-between justify-content-center">
        <div class="offer-alert-title d-flex align-items-center mb-3 mb-sm-0">
            <img src="../../../assets/img/info-circle.svg" alt="img">
            <p>Have you received your second January paycheck yet?</p>
        </div>
        <div class="d-flex align-items-center gap-3">
            <button class="offer-alert-btn">Yes</button>
            <button class="offer-alert-btn">No</button>
            <span class="close-icon-box">
                <img src="../../../assets/img/close-icon.svg" alt="img">
            </span>
        </div>
    </div>
</div>

<!-- Balance Section -->

<div class="container-default">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-5">
            <div class="user-detail">
                <h1>Good Evening, Torin!</h1>
                <span>Days of Free Cash </span>
                <img src="../../../assets/img/info-circle-second.svg" alt="img">
                <div class="user-fees d-flex align-items-baseline">
                    <h2>2.04</h2>
                    <span>(+0.56)</span>
                </div>
                <div class="total-fees d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 mb-2 mb-sm-0">
                        <p>Total Free Cash </p>
                        <img src="../../../assets/img/info-circle-second.svg" alt="img">
                    </div>
                    <div class="d-flex gap-4 justify-content-between">
                        <p>$1,234.42</p>
                        <span>(+$14.08)</span>
                    </div>
                </div>
                <div class="total-fees d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 mb-2 mb-sm-0">
                        <p>Net Worth</p>
                        <img src="../../../assets/img/info-circle-second.svg" alt="img">
                    </div>
                    <div class="d-flex gap-4 justify-content-between">
                        <p>$12,686.12</p>
                        <span>(+$14.08)</span>
                    </div>
                </div>
                <p class="last-update"><span>Last Updated:</span> 1/18/23 (2 days ago)</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="account-balance d-sm-flex d-block align-items-center justify-content-between">
                <div class="d-flex gap-3 mb-2 mb-sm-0">
                    <h2>Account Balances</h2>
                    <img src="../../../assets/img/info-circle-second.svg" alt="img">
                </div>
                <div class="text-end text-sm-inherit">
                    <button class="offer-alert-btn">Update</button>
                </div>
            </div>
            <div class="account-balance-box">
                <div class="d-sm-flex justify-content-around">
                    <div class="account-detail">
                        <div class="balance-check">
                            <label>Checking</label>
                            <span>$</span>
                            <input type="number">
                        </div>
                        <div class="balance-check">
                            <label>Venmo</label>
                            <span>$</span>
                            <input type="number">
                        </div>
                        <div class="d-flex gap-md-3 flex-lg-nowrap flex-wrap">
                            <div class="balance-check amazon-card">
                                <label>Chase Card</label>
                                <span>$</span>
                                <input type="number" placeholder="Pending Amt">
                            </div>
                            <div class="balance-check amazon-card">
                                <span>$</span>
                                <input type="number" placeholder="Pending Amt">
                            </div>
                        </div>
                        <div class="d-flex gap-md-3 flex-wrap">
                            <div class="balance-check amazon-card">
                                <label class="amazon-card-label">Amazon Card</label>
                                <span>$</span>
                                <input type="number" placeholder="Pending Amt">
                            </div>
                            <div class="balance-check amazon-card">
                                <span>$</span>
                                <input type="number" placeholder="Pending Amt">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 mt-4 mt-md-0 justify-content-center">
                        <div class="balance-detail">
                            <p>Balance</p>
                            <p>$6,234.15</p>
                            <p>$137.15</p>
                            <p>($2,321.21)</p>
                            <p>($2,321.21)</p>
                        </div>
                        <div class="balance-change-detail">
                            <p>Change</p>
                            <p>(+$12.16)</p>
                            <p>(-$15.12)</p>
                            <p>(-$242.15)</p>
                            <p>(-$53.15)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Savings Section -->

<div class="saving-section">
    <div class="container-default">
        <div class="row gx-4">
            <div class="col-lg-6">
                <div class="liabilitie-detail d-flex align-items-center justify-content-between mb-2 pe-3">
                    <div class="d-flex align-items-center gap-2 mb-2 mb-lg-0">
                        <h3>Assets/Liabilities</h3>
                        <span type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <img src="../../../assets/img/add-icon.svg" alt="img">
                        </span>
                    </div>

                    <div class="asset-detail d-flex align-items-center gap-2">
                        <p>Assets:</p>
                        <p>$759.72</p>
                    </div>
                    <div class="liabilitie-price d-flex align-items-center gap-2">
                        <p>Liabilities:</p>
                        <p>($1,626.15)</p>
                    </div>

                </div>
                <div class="table-responsive liabilitie-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="paycheck-detail">
                                <td>n/a</td>
                                <td>
                                    Prorated paycheck
                                    <img src="../../../assets/img/info-circle-second.svg" alt="img">
                                </td>
                                <td>($1,216.15)</td>
                            </tr>
                            <tr class="paycheck-detail">
                                <td>n/a</td>
                                <td>
                                    Prorated rent
                                    <img src="../../../assets/img/info-circle-second.svg" alt="img">
                                </td>
                                <td>($1,250.00)</td>
                            </tr>
                            <tr class="paycheck-detail">
                                <td data-bs-target="#exampleModal" data-bs-toggle="modal">
                                    Nov 12, 2022
                                </td>
                                <td data-bs-target="#exampleModal" data-bs-toggle="modal">Puerto Rico Saver</td>
                                <td data-bs-target="#exampleModal" data-bs-toggle="modal">
                                    <div class="paycheck-price">
                                        ($250.00) <img src="../../../assets/img/right-arrow.svg" alt="img">
                                    </div>
                                </td>
                            </tr>
                            <tr class="">
                                <td data-bs-target="#airbnbmodal" data-bs-toggle="modal">
                                    Aug 10, 2022
                                </td>
                                <td data-bs-target="#airbnbmodal" data-bs-toggle="modal">AirBnB buy-ins</td>
                                <td data-bs-target="#airbnbmodal" data-bs-toggle="modal">
                                    <div class="paycheck-price">
                                        $545.15<img src="../../../assets/img/right-arrow.svg" alt="img">
                                    </div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    Sep 23, 2022
                                </td>
                                <td>Amazon items to return</td>
                                <td>
                                    <div class="paycheck-price">
                                        $93.12<img src="../../../assets/img/right-arrow.svg" alt="img">
                                    </div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    Oct 15, 2022
                                </td>
                                <td>Sunday night dinner</td>
                                <td>
                                    <div class="paycheck-price">
                                        $121.45
                                        <img src="../../../assets/img/right-arrow.svg" alt="img">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="liabilitie-detail d-flex align-items-center justify-content-between mb-2 pe-3">
                    <h3>Savings</h3>
                    <div class="asset-detail d-flex align-items-center gap-2">
                        <p>Total:</p>
                        <p>$9,245.15</p>
                    </div>
                </div>
                <div class="table-responsive liabilitie-table saving-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chase Savings Account</td>
                                <td>
                                    <div class="paycheck-price">
                                        $7,251.30
                                        <img src="../../../assets/img/right-arrow.svg" alt="img">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Bank of Ireland Savings Account</td>
                                <td>
                                    <div class="paycheck-price">
                                        $7,251.30
                                        <img src="../../../assets/img/right-arrow.svg" alt="img">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Investment</td>
                                <td>
                                    <div class="paycheck-price">
                                        $537.73
                                        <img src="../../../assets/img/right-arrow.svg" alt="img">
                                    </div>
                                </td>
                            </tr>
                            <!-- <hr/> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Savings Chart Section -->

<div class="saving-chart">
    <div class="container-default">
        <div class="liabilitie-detail d-flex align-items-center mb-4">
            <h3>Savings</h3>
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">1D</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">1W</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">1M</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">1Q</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">YTD</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">1Y</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">ALL</button>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <canvas style="background: #142B56;border-radius: 18px; width: 100%; height: 340px;"
                    id="linechart"></canvas>
            </div>
            <div class="col-lg-4">
                <div class="metric-box liabilitie-detail mt-4">
                    <h3>Net Metrics</h3>
                    <div class="mt-md-4 mt-3">
                        <ul class="list-unstyled mb-0">
                            <div class="metric-detail d-flex align-items-center justify-content-between">
                                <li>Days of Free Cash <img src="../../../assets/img/income-info.svg" alt=""></li>
                                <li><img src="../../../assets/img/arrow_drop_up.svg" alt=""> 2.05</li>
                            </div>
                            <div class="metric-detail d-flex align-items-center justify-content-between">
                                <li>Free Cash <img src="../../../assets/img/income-info.svg" alt=""></li>
                                <li><img src="../../../assets/img/arrow_drop_up.svg" alt=""> $179.52</li>
                            </div>
                            <div class="metric-detail d-flex align-items-center justify-content-between">
                                <li>Net Worth<img src="../../../assets/img/income-info.svg" alt=""></li>
                                <li><img src="../../../assets/img/arrow_drop_up.svg" alt=""> $13,265.12</li>
                            </div>
                            <div class="metric-detail d-flex align-items-center justify-content-between">
                                <li>Average Daily Spend<img src="../../../assets/img/income-info.svg" alt=""></li>
                                <li><img src="../../../assets/img/arrow_drop_up.svg" alt=""> $64.23</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Liabilities Modal -->
<div class="create-asset-modal modal fade" id="staticBackdrop" 
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Asset/Liability</h5>
            </div>
            <div class="modal-body">
                <div class="row align-items-center justify-content-lg-evenly">
                    <div class="col-lg-6">
                        <form [formGroup]="assetForm">
                            <div class="liability-detail">
                                <label for="">Decription</label>
                                <input formControlName="description" type="text" placeholder="Puerto Rico Saver">
                                <div *ngIf="assetForm.get('description').touched && assetForm.get('description').errors?.['required']"
                                    class="error-message">Description is required.</div>
                            </div>
                            <div class="liability-detail">
                                <label for="">Type</label>
                                <select formControlName="type" class="form-select" aria-label="Default select example">
                                    <option selected>Saver</option>
                                    <option value="2">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div *ngIf="assetForm.get('type').touched && assetForm.get('type').errors?.['required']"
                                    class="error-message">Type is required.</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="liability-detail">
                                        <label for="">Savings Start Date</label>
                                        <input formControlName="startDate" type="date" placeholder="Puerto Rico Saver">
                                        <div *ngIf="assetForm.get('startDate').touched && assetForm.get('startDate').errors?.['required']"
                                            class="error-message">Start Date is required.</div>
                                        <!-- <div *ngIf="assetForm.get('startDate').touched && assetForm.get('startDate').errors?.['min']" class="error-message" >Start Date cannot be before today.</div>  -->
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="liability-detail">
                                        <label for="">Savings End Date</label>
                                        <input formControlName="endDate" type="date" placeholder="Puerto Rico Saver">
                                        <div *ngIf="assetForm.get('endDate').touched && assetForm.get('endDate').errors?.['required']"
                                            class="error-message">End Date is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="liability-detail">
                                <label for="">Target Savings Amount</label>
                                <input formControlName="targetAmount" type="number" placeholder="$1,500.00">
                                <div *ngIf="assetForm.get('targetAmount').touched && assetForm.get('targetAmount').errors?.['required']"
                                    class="error-message">Target Amount is required.</div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="liability-type">
                            <h6>Asset/Liability Types</h6>
                            <p><span>Lump Sum:</span> This is a static amount that is either credited or debited from
                                your balances at any given time. This is useful to account for money you will eventually
                                receive or owe, even if the transaction hasn’t happened yet.</p>
                            <p><span>Saver:</span> This is an accumulating liability that helps you save up for a
                                financial goal without creating a separate account. You define the time period and total
                                amount you want to save, and money is debited from your account every paycheck to
                                achieve your goal. </p>
                            <p>For more info on how to use Assets/Liabilities, including advanced use cases, check out
                                our <a href="">blog post</a>. New ways to save are being added all the time, so stay
                                tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" (click)="assetFormSubmit()" class="save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Puerto Rico Saver Modal -->
<div class="create-asset-modal modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header flex-wrap">
                <h5 class="modal-title" id="exampleModalLabel">Puerto Rico Saver
                    <img src="../../../assets/img/edit-icon.svg" alt="img">
                </h5>
                <div class="d-flex create-user-detail gap-sm-4 flex-wrap">
                    <p><span>Created:</span> Aug 10, 2022</p>
                    <p><span>Last Updated:</span> Dec 12, 2023</p>
                </div>
            </div>
            <div class="modal-body">
                <div class="row align-items-center justify-content-lg-evenly">
                    <div class="col-lg-6">
                        <form [formGroup]="PRSForm">
                            <div class="liability-detail">
                                <label for="">Type</label>
                                <select formControlName="type" class="form-select" aria-label="Default select example">
                                    <option selected>Saver</option>
                                    <option value="2">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div *ngIf="PRSForm.get('type').touched && PRSForm.get('type').errors?.['required']"
                                    class="error-message">Type is required.</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="liability-detail">
                                        <label for="">Savings Start Date</label>
                                        <input formControlName="startDate" type="date" placeholder="Puerto Rico Saver">
                                        <div *ngIf="PRSForm.get('startDate').touched && PRSForm.get('startDate').errors?.['required']"
                                            class="error-message">Start Date is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="liability-detail">
                                        <label for="">Savings End Date</label>
                                        <input formControlName="endDate" type="date" placeholder="Puerto Rico Saver">
                                        <div *ngIf="PRSForm.get('endDate').touched && PRSForm.get('endDate').errors?.['required']"
                                            class="error-message">End Date is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="liability-detail">
                                <label for="">Target Savings Amount</label>
                                <input formControlName="targetAmount" type="number" placeholder="$1,500.00">
                                <div *ngIf="PRSForm.get('targetAmount').touched && PRSForm.get('targetAmount').errors?.['required']"
                                    class="error-message">Target Amount is required.</div>
                            </div>

                            <div class="liability-detail">
                                <label for="">Target Savings Amount</label>
                                <div class="d-flex align-items-end gap-4 mt-4">
                                    <p class="mb-0">$250.00</p>

                                    <ngx-slider [(value)]="rangeSliderValue" [options]="rangeSliderOptions"
                                        customDisplayWith="formatValue"></ngx-slider>

                                    <p class="mb-0">$1,500.00</p>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-lg-5">
                        <div class="liability-type">
                            <h6>Asset/Liability Types</h6>
                            <p><span>Lump Sum:</span> This is a static amount that is either credited or debited from
                                your balances at any given time. This is useful to account for money you will eventually
                                receive or owe, even if the transaction hasn’t happened yet.</p>
                            <p><span>Saver:</span> This is an accumulating liability that helps you save up for a
                                financial goal without creating a separate account. You define the time period and total
                                amount you want to save, and money is debited from your account every paycheck to
                                achieve your goal. </p>
                            <p>For more info on how to use Assets/Liabilities, including advanced use cases, check out
                                our <a href="">blog post</a>. New ways to save are being added all the time, so stay
                                tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="savePRSForm()" class="save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- AirBnB buy-ins Modal -->
<div class="create-asset-modal modal fade" id="airbnbmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header flex-wrap">
                <h5 class="modal-title" id="exampleModalLabel">AirBnb Buy-Ins
                    <img src="../../../assets/img/edit-icon.svg" alt="img">
                </h5>
                <div class="d-flex create-user-detail gap-4 flex-wrap">
                    <p><span>Created:</span> Aug 10, 2022</p>
                    <p><span>Last Updated:</span> Dec 12, 2023</p>
                </div>
            </div>
            <div class="modal-body">
                <div class="row justify-content-lg-evenly">
                    <div class="col-lg-6 mt-2">
                        <form [formGroup]="airBnBForm">
                            <div class="liability-detail">
                                <label for="">Type</label>
                                <select formControlName="type" class="form-select" aria-label="Default select example">
                                    <option selected>Saver</option>
                                    <option value="2">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div *ngIf="airBnBForm.get('type').invalid && airBnBForm.get('type').touched"
                                class="error-message">
                                Type is required.
                            </div>
                            <div class="liability-detail">
                                <label for="">Target Savings Amount</label>
                                <input formControlName="targetAmount" type="number" placeholder="$1,500.00">
                                <div *ngIf="airBnBForm.get('targetAmount').invalid && airBnBForm.get('targetAmount').touched"
                                    class="error-message">
                                    Target Savings Amount is required.
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="liability-type">
                            <h6>Asset/Liability Types</h6>
                            <p><span>Lump Sum:</span> This is a static amount that is either credited or debited from
                                your balances at any given time. This is useful to account for money you will eventually
                                receive or owe, even if the transaction hasn’t happened yet.</p>
                            <p><span>Saver:</span> This is an accumulating liability that helps you save up for a
                                financial goal without creating a separate account. You define the time period and total
                                amount you want to save, and money is debited from your account every paycheck to
                                achieve your goal. </p>
                            <p>For more info on how to use Assets/Liabilities, including advanced use cases, check out
                                our <a href="">blog post</a>. New ways to save are being added all the time, so stay
                                tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="save-btn" (click)="airBnBSubmit()">Save</button>
            </div>
        </div>
    </div>
</div>