@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #F6F6F6;
}

.container-default{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 12px;
}

@media (max-width:1550px) {
    .container-default{
        max-width: 1300px;
    }
}